

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    background: #d2dbdd;
}

.heading_style{
    padding: 30px 0px;
    text-align: center;
    font-family:"Raleway",sans-serif;
    text-transform:uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    background-color: #fff;
    font-size:1.5rem;
    margin-bottom: 30px;
}

.main_div{
  position: absolute;
  left: 35%;
  right: 50%;
  width: 300px;
  border: 3px solid #fff;
  padding: 10px;
  text-align: center;
  font-family:"Raleway",sans-serif;
}

button{
  position: absolute;
  left: 35%;
  right: 48%;
  height:10%;
  width: 300px;
  border: 3px solid rgb(214, 237, 15);
  padding: 15px;
  border-radius: 8px;
  background: rgb(34, 223, 40);
  text-align: center;
  font-family:"Raleway",sans-serif;
  font-weight: bold;
  font-size:18px;
  margin-top: 16%;
}